.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 41rem;
    background-image: url("/assets/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header_wrapper{
        padding: 0 1.1875rem;
    }

    .logo{
        position: absolute;
        top: 3.3125rem;
        left: 4.3125rem;
    }
    h1{
        margin-bottom: 1.875rem;
        max-width: 43.625rem;

        font-family: $anton;
        color: $yellow;
        font-size: 2.75rem;
        font-weight: 400;
        line-height: 4.14rem;
        text-transform: uppercase;
        text-align: center;
    }

    form.search-bar{
        position: relative;
    }
    input[type="search"]{
        padding: 1.5rem 1.25rem;
        width: 100%;

        font-family: $manrope;
        font-size: 16px;
        border: none;
        border-radius: 11px;
    }
    input[type="search"]::-webkit-search-cancel-button {
        height: 1em;
        width: 1em;

        -webkit-appearance: none;
        border-radius: 50em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
        background-size: contain;
        opacity: 0;
        pointer-events: none;
    }

    button[type="submit"]{
        position: absolute;
        width: 3.1875rem;
        height: 3.1875rem;
        
        right: 10px;
        top: 10px;
        background-color: #1B1B1B;
        border: none;
        border-radius: .625rem;
        cursor: pointer;
        transition: 200ms ease-in-out;

        svg circle,
        svg line{
            transition: 200ms ease-in-out;
        }
       
    }
    button[type="submit"]:hover{
        background-color: $yellow;
    }
    button[type="submit"]:hover svg circle,
    button[type="submit"]:hover svg line{
        stroke: black;
    }
    
}
